pyrightconfig.json
*.code-workspace
__pycache__
experiments/data
experiments/None-*
None-*
.vscode/
checkpoints
data
*.npy
*.h5ad
*.png
*.pdf
benchmark
*.log
*.ipynb
*-checkpoint.py
stdeconv_old.py
*.R
results
*.swp
.vim/*
ipython_hook.py
*.pt
reproduce-scripts/*
*.csv
*.zip
nohup.out
notebooks/
trash/
comments/
case-studies/
case-studies/*/
./virtual_documents/
.ipynb_checkpoints/
figures*/
test/
*.ipynb_checkpoints/
*.ipynb
*script.py
docs/_build/
!docs/notebooks/
docs/notebooks/*.ipynb
dist/
*venv/
requirements.txt
keyringrc.cfg
poetry.lock
debug
