div.nboutput.container div.output_area:not(.rendered_html) > img.no-scaled-link {
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
}

img {
    width: auto;
    height: auto;
    /* To ensure the image doesn't exceed its parent's width */
    max-width: 100%;
}

img.no-scaled-link {
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
}

.highlight button.copybtn {
    align-items: center;
    background-color: var(--color-code-background);
    border: none;
    color: var(--color-background-item);
    cursor: pointer;
    height: 1.25em;
    opacity: 1;
    right: 0.5%;
    top: 1.5%;
    transition: color .3s,opacity .3s;
    width: 1.25em;
}

.summarylabel {
    background-color: var(--color-foreground-secondary);
    color: var(--color-background-secondary);
    font-size: 70%;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
    vertical-align: 15%;
    padding-bottom: 2px;
    filter: opacity(40%);
}

table.summarytable {
    width: 100%;
}